@{
    ViewData["Title"] = "Home Page";
    Layout = "_Header";
}

    <!--Page Mission Listing-->
<div class="mission">
    <div class="container p-0">
        <div class="row explore ">
            <div class="col col-md-auto col-sm-12 col-12">
                <h2>Explore <strong>72 Missions</strong></h2>
            </div>
            <div class="col sortstart  justify-content-end">

                <div class="pe-3 p-2">
                    <select class="form-select filterbtn " aria-label="Default select example">
                        <option selected>Sort by</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div>
                    <button class="button  gridbtn "> <img src="./images/grid.png" alt="gridview" class="gridimg"> </button>

                    <button class="button listbtn"> <img src="./images/list.png" alt="gridview"> </button>
                </div>

            </div>

        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col">
                <div class="card h-auto">
                    <img src="./images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="Skyscrapers" />
                    <div class="card-body">
                        <h5 class="card-title">Grow Trees On - the path to environment sustainability</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...
                        </p>
                    </div>
                    <div class="d-flex px-2 mb-3 justify-content-between border-bottom pb-3">
                        <span>Tree canada</span>
                        <div class="justify-content-end">
                            <img src="./images/selected-star.png" alt="star">
                            <img src="./images/selected-star.png" alt="star">
                            <img src="./images/selected-star.png" alt="star">
                            <img src="./images/star.png" alt="star">
                            <img src="./images/star.png" alt="star">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <span class="carddate px-3">From 10/01/2019 until 25/02/2019</span>
                    </div>

                    <!-- <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div> -->
                    <div class="d-flex flex-row justify-content-between p-3  border-bottom">
                        <div class="seats d-flex flex-row align-items-center">
                            <img src="./images/Seats-left.png" class="card-ic">
                            <div class="d-flex flex-column ps-2">
                                <p class="seatsleft">10</p>
                                <span>Seats left</span>
                            </div>
                        </div>
                        <div class="deadline d-flex flex-row align-items-center">
                            <img src="./images/deadline.png" class="card-ic">
                            <div class="d-flex flex-column ps-2">
                                <p class="deadlinedate">09/01/2019</p>
                                <span>Deadline</span>
                            </div>
                        </div>

                    </div>

                    <button type="button" class="btn apply my-3"> Apply <img src="./images/right-arrow.png" class="ms-2"></button>
                </div>
            </div>
            <div class="col">
                <div class="card h-auto">
                    <img src="./images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" class="card-img-top" alt="Los Angeles Skyscrapers" />
                    <div class="card-body">
                        <h5 class="card-title">Education Supplies for Every Pair of Shoes Sold</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                    </div>
                    <div class="d-flex px-2 mb-3 justify-content-between border-bottom pb-3">
                        <span>Australian Paradise</span>
                        <div class="justify-content-end">
                            <img src="./images/selected-star.png" alt="star">
                            <img src="./images/selected-star.png" alt="star">
                            <img src="./images/selected-star.png" alt="star">
                            <img src="./images/star.png" alt="star">
                            <img src="./images/star.png" alt="star">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <span class="carddate px-3">From 10/01/2019 until 25/02/2019</span>
                    </div>
                    <!-- <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div> -->
                    <div class="d-flex flex-row justify-content-between p-3 border-bottom">
                        <div class="seats d-flex flex-row align-items-center">
                            <img src="./images/Already-volunteered.png" class="card-ic">
                            <div class="d-flex flex-column ps-2">
                                <p class="seatsleft">250</p>
                                <span>Seats left</span>
                            </div>
                        </div>
                        <div class="deadline d-flex flex-row align-items-center">
                            <img src="./images/deadline.png" class="card-ic">
                            <div class="d-flex flex-column ps-2">
                                <p class="deadlinedate">09/01/2019</p>
                                <span>Deadline</span>
                            </div>
                        </div>

                    </div>

                    <button type="button" class="btn apply my-3"> Apply <img src="./images/right-arrow.png" class="ms-2"></button>
                </div>
            </div>
            <div class="col">
                <div class="card h-auto">
                    <img src="./images/Nourish-the-Children-in--African-country.png" class="card-img-top" alt="Palm Springs Road" />
                    <div class="card-body">
                        <h5 class="card-title">Nourish the Children in African country</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...
                        </p>
                    </div>
                    <div class="d-flex px-2 mb-3 justify-content-between border-bottom pb-3">
                        <span>The Hunger</span>
                        <div class="justify-content-end">
                            <img src="./images/selected-star.png" alt="star">
                            <img src="./images/selected-star.png" alt="star">
                            <img src="./images/selected-star.png" alt="star">
                            <img src="./images/star.png" alt="star">
                            <img src="./images/star.png" alt="star">
                        </div>
                    </div>
                    <!-- <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div> -->
                    <div class="d-flex justify-content-center">
                        <span class="carddate px-3">Ongoing Opportunity</span>
                    </div>
                    <div class="d-flex flex-row justify-content-between p-3  border-bottom">
                        <div class="seats d-flex flex-row align-items-center">
                            <img src="./images/Seats-left.png" class="card-ic">
                            <div class="d-flex flex-column ps-2">
                                <p class="seatsleft">10</p>
                                <span>Seats left</span>
                            </div>
                        </div>
                        <div class="deadline d-flex flex-row align-items-center">
                            <img src="./images/deadline.png" class="card-ic">
                            <div class="d-flex flex-column ps-2">
                                <p class="deadlinedate">09/01/2019</p>
                                <span>Deadline</span>
                            </div>
                        </div>

                    </div>

                    <button type="button" class="btn apply my-3"> Apply <img src="./images/right-arrow.png" class="ms-2"></button>
                </div>
            </div>
            <div class="col">
                <div class="card h-auto">
                    <img src="./images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="Skyscrapers" />
                    <div class="card-body">
                        <h5 class="card-title">Grow Trees On - the path to environment sustainability</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...
                        </p>
                    </div>
                    <div class="d-flex px-2 mb-3 justify-content-between border-bottom pb-3">
                        <span>Tree canada</span>
                        <div class="justify-content-end">
                            <img src="./images/selected-star.png" alt="star">
                            <img src="./images/selected-star.png" alt="star">
                            <img src="./images/selected-star.png" alt="star">
                            <img src="./images/star.png" alt="star">
                            <img src="./images/star.png" alt="star">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <span class="carddate px-3">From 10/01/2019 until 25/02/2019</span>
                    </div>

                    <!-- <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div> -->
                    <div class="d-flex flex-row justify-content-between p-3  border-bottom">
                        <div class="seats d-flex flex-row align-items-center">
                            <img src="./images/Seats-left.png" class="card-ic">
                            <div class="d-flex flex-column ps-2">
                                <p class="seatsleft">10</p>
                                <span>Seats left</span>
                            </div>
                        </div>
                        <div class="deadline d-flex flex-row align-items-center">
                            <img src="./images/deadline.png" class="card-ic">
                            <div class="d-flex flex-column ps-2">
                                <p class="deadlinedate">09/01/2019</p>
                                <span>Deadline</span>
                            </div>
                        </div>

                    </div>

                    <button type="button" class="btn apply my-3"> Apply <img src="./images/right-arrow.png" class="ms-2"></button>
                </div>
            </div>
            <div class="col">
                <div class="card h-auto">
                    <img src="./images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" class="card-img-top" alt="Los Angeles Skyscrapers" />
                    <div class="card-body">
                        <h5 class="card-title">Education Supplies for Every Pair of Shoes Sold</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                    </div>
                    <div class="d-flex px-2 mb-3 justify-content-between border-bottom pb-3">
                        <span>Australian Paradise</span>
                        <div class="justify-content-end">
                            <img src="./images/selected-star.png" alt="star">
                            <img src="./images/selected-star.png" alt="star">
                            <img src="./images/selected-star.png" alt="star">
                            <img src="./images/star.png" alt="star">
                            <img src="./images/star.png" alt="star">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <span class="carddate px-3">From 10/01/2019 until 25/02/2019</span>
                    </div>
                    <!-- <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div> -->
                    <div class="d-flex flex-row justify-content-between p-3 border-bottom">
                        <div class="seats d-flex flex-row align-items-center">
                            <img src="./images/Already-volunteered.png" class="card-ic">
                            <div class="d-flex flex-column ps-2">
                                <p class="seatsleft">250</p>
                                <span>Seats left</span>
                            </div>
                        </div>
                        <div class="deadline d-flex flex-row align-items-center">
                            <img src="./images/deadline.png" class="card-ic">
                            <div class="d-flex flex-column ps-2">
                                <p class="deadlinedate">09/01/2019</p>
                                <span>Deadline</span>
                            </div>
                        </div>

                    </div>

                    <button type="button" class="btn apply my-3"> Apply <img src="./images/right-arrow.png" class="ms-2"></button>
                </div>
            </div>
            <div class="col">
                <div class="card h-auto">
                    <img src="./images/Nourish-the-Children-in--African-country.png" class="card-img-top" alt="Palm Springs Road" />
                    <div class="card-body">
                        <h5 class="card-title">Nourish the Children in African country</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...
                        </p>
                    </div>
                    <div class="d-flex px-2 mb-3 justify-content-between border-bottom pb-3">
                        <span>The Hunger</span>
                        <div class="justify-content-end">
                            <img src="./images/selected-star.png" alt="star">
                            <img src="./images/selected-star.png" alt="star">
                            <img src="./images/selected-star.png" alt="star">
                            <img src="./images/star.png" alt="star">
                            <img src="./images/star.png" alt="star">
                        </div>
                    </div>
                    <!-- <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div> -->
                    <div class="d-flex justify-content-center">
                        <span class="carddate px-3">Ongoing Opportunity</span>
                    </div>
                    <div class="d-flex flex-row justify-content-between p-3  border-bottom">
                        <div class="seats d-flex flex-row align-items-center">
                            <img src="./images/Seats-left.png" class="card-ic">
                            <div class="d-flex flex-column ps-2">
                                <p class="seatsleft">10</p>
                                <span>Seats left</span>
                            </div>
                        </div>
                        <div class="deadline d-flex flex-row align-items-center">
                            <img src="./images/deadline.png" class="card-ic">
                            <div class="d-flex flex-column ps-2">
                                <p class="deadlinedate">09/01/2019</p>
                                <span>Deadline</span>
                            </div>
                        </div>

                    </div>

                    <button type="button" class="btn apply my-3"> Apply <img src="~/Assets/right-arrow.png" class="ms-2"></button>
                </div>
            </div>
        </div>



    </div>
    </div>
       
    </div>

