@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "User Shared Stories";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container-fluid g-0 bg-image">
    <div class="background-img">
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras malesuada neque<br /> ultrices nisl dignissim sagittis. Ut iaculis libero at lacinia rutrum. </p>
        <button class="btn bg-light bg-opacity-50 rounded-pill semi-transparent-button">Share your Story <i class="bi bi-arrow-right"></i></button>
    </div>
</div>

<body>

    <div class="bg"></div>

    <p class="py-5 text-center">This example creates a full page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes.</p>

</body>